<html>
<head>
	<title>dmo socket io </title>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js">
		
	</script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="xuly.js"></script>

	
</head>
<body>
     <div id='login'>
     <p>dang nhap de chat </p>
     	<input id="putlogin" type="input" name="name">
     	<button id="btnlogin" type="submit" >sign</button>
     </div>
     <div id="botchat">
     	<div id="chatleft">
     		<h3>hien thi so nguoi dang nhap</h3>
     	</div>
     	<div id="chatright">
     	<div id="chatroom">
     		
     	</div>
     	<div id="notify"></div>
     	   <input id='mes' type="input" name="mes">
     	   <button id='btnmes'>gui</button>
     	</div>
     </div>
</body>
</html>